body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh; /* Full page height */
    overflow-x: hidden;
}



/* Style the header to stay fixed at the top */
header {
    font-family: 'Amatic SC', sans-serif;
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: none;
}

/* The container for the large image */
.image-container {
    position: absolute; /* Make the container position absolute */
    top: 130px; /* Move the image down by 80px to avoid covering the header */
    width: 100%;
    height: calc(100vh - 80px); /* Full viewport height minus the header */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.big-picture {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(100vh - 80px); /* Ensure it doesn't go beyond the viewport height */
    object-fit: contain; /* Show the full image */
    opacity: 0.9; /* Set transparency */
    animation: fadeIn 2s ease-in forwards; /* Fade-in effect */
}



/* Icon menu styles */
.icon-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu ul li {
    margin: 0 40px;
    text-align: center;
}

.icon-menu ul li a {
    text-decoration: none;
    color: black;
}

.menu-icon-img {
    width: 160px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon-img:hover {
    transform: scale(1.2);
}

.icon-description {
    display: block;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Map container */
.map-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: auto; /* Let the height scale based on the image aspect ratio */
}

/* Map image */
.map-image {
    width: 100%; /* Make the map responsive */
    height: auto;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.location {
    font-family: 'Tangerine', cursive; /* Apply Tangerine font */
    font-weight: 700; /* Set to bold */
    color: black; /* Set text color to black */
    background-color: transparent; /* Remove background */
    font-size: 2vw; /* Adjust the size for responsiveness */
    position: absolute;
    opacity: 0; /* Start with the text hidden */
    animation: fadeIn 2s ease-in forwards; /* Apply fade-in animation over 2 seconds */
    text-decoration: none; /* Remove the underline */
    transition: transform 0.3s ease;
    font-weight: bold;
}

.location:hover {
    transform: scale(1.1);
    background-color: white; 
    padding: 5px; 
    border-radius: 10px; 
    color: black; 
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
}

.annotation {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em; /* Responsive font size */
    line-height: 1.5em; /* Improve readability */
    text-align: justify; /* Justify text on both sides */
    z-index: 100;
    width: auto; /* Dynamic width based on content */
    max-width: 400px; /* Set a maximum width to avoid overly wide annotations */
    word-wrap: break-word; /* Ensure text wraps within the container */
    white-space: normal; /* Allow text to wrap */
    top: 12%; 
    left: 65%;
}

/* Show comment box on mouse hover */
.location:hover + .annotation {
    display: block;
}


/* Ensuring location points are not too small on smaller devices */
/* Responsive design */
@media (max-width: 600px) {
    .annotation {
        font-size: 0.9em; /* Make font smaller for mobile */
        width: 250px; /* Adjust width */
    }

    .location {
        font-size: 2vw;
    }
}

@media (min-width: 1200px) {
    .annotation {
        font-size: 1.1em; /* Increase font size for large screens */
    }
}