.fish_page_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#tide_page {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#tide_page img {
    width: 30%;
    height: auto;
}

#main_page {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#main_page img {
    width: 50%;
    height: auto;
}

#main_content {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 10px;
    background: url("../images/Ocean.png") no-repeat left bottom fixed;
}
