/* Basic Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Amatic SC', sans-serif;
}

/* Weather Information Container Styles */
.weather-info {
    position: fixed;
    top: 1vw;
    left: 2vw; /* Initial position next to the menu button */
    background-color: none; /* Semi-transparent background */
    color: #000000;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 2vw;
    display: flex;
    align-items: center;
    transition: left 0.3s ease; /* Smooth transition when shifting */
    z-index: 1100; /* Ensure it stays above other elements */
}

.weather-info img, .weather-info i {
    width: 2vw;
    height: 2vw;
    margin-right: 12px;
}


header {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: none;
}

.icon-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu ul li {
    margin: 0 40px;
    text-align: center;
    position: relative; /* Ensure the circle effect is positioned correctly */
}

.icon-menu ul li a {
    text-decoration: none;
    color: black;
    display: block; /* Ensure the anchor tag covers the entire li */
}

/* Define the circle animation styles */
.icon-menu ul li::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid rgb(20, 20, 20);
    border-radius: 50%;
    transition: all 0.4s ease;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
}

.menu-icon-img {
    width: 140px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon-menu ul li:hover .menu-icon-img {
    transform: scale(1.2);
}

.icon-description {
    display: block;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}