body {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: transparent; /* Transparent background */
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: none; /* Removed box shadow */
}

.icon-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu ul li {
    margin: 0 40px;
    text-align: center; /* Center the icon and description */
}

.icon-menu ul li a {
    text-decoration: none;
    color: black;
}

.menu-icon-img {
    width: 160px; /* Increased icon size */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon-img:hover {
    transform: scale(1.2); /* Larger hover effect */
}

/* Add description below each icon */
.icon-description {
    display: block;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}

.helm-container {
    position: relative;
    display: inline-block;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 700px;
    background-color: transparent;
    z-index: 10;
    overflow: hidden;
    margin: 100px auto;
}

.helm {
    position: relative;
    width: 90%;
    height: auto;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.location {
    position: relative;
    width: 95px;
    line-height: 1.2;
    text-align: center;
    font-size: 32px;
    top: 100%;
    left: 45%;
    white-space: normal;
    transition: transform 1s ease-in-out;
}

.location:hover {
    cursor: pointer;
    color: #4eb6bc;
    font-weight: bold;
}

footer {
    position: relative;
    z-index: 10;
    text-align: center;
    flex-shrink: 0;
}
