body {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: none;
}

.icon-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu ul li {
    margin: 0 40px;
    text-align: center;
}

.icon-menu ul li a {
    text-decoration: none;
    color: black;
}

.menu-icon-img {
    width: 160px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon-img:hover {
    transform: scale(1.2);
}

.icon-description {
    display: block;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Helm container in the footer */
.helm-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 1000px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.helm {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-in-out, box-shadow 0.3s ease; /* Smooth rotation animation */
    cursor: pointer;
}
/* Rotating arrow indicator (static for now) */
.rotation-arrow {
    position: absolute;
    width: 500px; /* Adjust the size of the arrow */
    height: auto;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the arrow around the helm */
}
.location {
    position: absolute;
    font-size: 25px;
    width: 100px;
    text-align: center;
    transform-origin: center center;
    transition: transform 1s ease-in-out; /* Smooth rotation for location labels */
}

.location:hover {
    color: #4eb6bc;
    font-weight: bold;
}

footer {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
}
