body {
    overflow: hidden;
}

/* Main Content Area */
.content-container {
    display: flex;
    justify-content: space-between; /* Create space between the left and right panels */
    width: 100%;
    padding: 20px;
    margin-top: 40px; /* Adjust margin-top to make it slightly lower than Location */
}

canvas {
    width: 900px; /* Adjust width */
    height: 400px; /* Adjust height */
    margin-left: 20px;
    overflow: auto;
}

.right-panel {
    padding: 20px;
    
    border-radius: 10px;
  
    width: 400px;
    margin-left: 20px;
    margin-top: 90px;
    
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.info-icon {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.info-details {
    display: flex;
    flex-direction: column;
    font-family: 'lexend deca', sans-serif;
}

.info-details p {
    margin: 0;
    font-size: 18px;
}

#uv-index, #wind-speed, #pressure {
    font-weight: bold;
}


.centered-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}



.info-img {
    width: 100%; /* Make the image take full width of the container */
    height: auto;
}



body {
    font-family: 'lexend deca', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/tidepagebg.png');
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'lexend deca', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px; /* Make the Tide title larger */
    margin-top: 100px; /* Ensure it doesn't have excess top margin */
}

h2 {
    font-family: 'lexend deca', sans-serif;
    margin-bottom: 10px;
    text-align: left;
    font-size: 32px;
}

.location-name2 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    padding: 10px;
    opacity: 0; /* Initially hidden */
    margin-top: 20px; /* Adjust margin to control positioning */
}
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
